.tagsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 3px;
}

.tagItem {
  background-color: rgb(134, 136, 48);
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-right: 2px;
  border-radius: 10px;
  padding: 4px 6px;
}
